<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admission_calendar_view</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<h1 th:text="${name} + ', здесь ты можешь посмотреть свои сводобные даты и запланировать новые'">Привет, специалист</h1>


<!--<div class="table-responsive">-->
<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Дата</th>-->
<!--            <th colspan="2">Время и Статус</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="date : dates">-->
<!--            <td th:text="date.key"></td>-->
<!--            <td th:each="time, status : date.value">-->
<!--            <td th:text="time"></td>-->
<!--            <td th:text="status"></td>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->





<!--<div class="table-responsive">-->
<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Дата</th>-->
<!--            <th colspan="2">Время и Статус</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td>2023-12-01</td>-->
<!--            <td>10:00</td>-->
<!--            <td>Занято</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>2023-12-02</td>-->
<!--            <td>14:00</td>-->
<!--            <td>Свободно</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<label for="datetime_open">Добавить конкретную дату и время:</label>
<input type="datetime-local" id="datetime_open" name="datetime" value="2023-12-02T10:00" min="2023-12-02T10:00" max="2023-12-02T18:00">

<label for="datetime_close">Забронировать конкретную дату и время:</label>
<input type="datetime-local" id="datetime_close" name="datetime" value="2023-12-02T10:00" min="2023-12-02T10:00" max="2023-12-02T18:00">

</body>
</html>