<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Управление календарем</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/67a92a6cb5.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gijgo@1.9.14/js/messages/messages.ru-ru.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="/t.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/fontello.css">
    <link rel="stylesheet" href="/css/style.css">


<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">-->
<!--    <script src="https://kit.fontawesome.com/67a92a6cb5.js" crossorigin="anonymous"></script>-->
<!--    <link rel="shortcut icon" href="/t.ico" type="image/x-icon">-->
<!--    <link rel="stylesheet" href="/css/fontello.css">-->
<!--    <link rel="stylesheet" href="/css/style.css">-->



    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
    <!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">-->
    <!--    <script src="https://kit.fontawesome.com/67a92a6cb5.js" crossorigin="anonymous"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <!--    -->

    <!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">-->
    <!--    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>-->

<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script type="text/javascript" charset="utf8"-->
<!--            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <style>
        .custom-table table {
            width: 100%;
        }

        .custom-table td {
            word-wrap: break-word;
        }

        .col-dayOfWeek { width: 10%; }
        .col-date { width: 33%; }
        .col-time { width: 17%; }
        .col-client {
            width: 40%;
            text-align: center;
            vertical-align: middle;
        }

/*<!--        .custom-select {-->*/
/*<!--            width: 230px;-->*/
/*<!--        }-->*/

/*<!--        .form-select.custom-select option[selected] {-->*/
/*<!--            font-weight: bold;-->*/
/*<!--        }-->*/

/*<!--        table {-->*/
/*<!--            width: 100%;-->*/
/*<!--            table-layout: fixed;-->*/
/*<!--        }-->*/

/*<!--        th:first-child, td:first-child {-->*/
/*<!--            width: 16%; !* ширина первого столбца *!-->*/
/*<!--        }-->*/

/*<!--        th, td {-->*/
/*<!--            width: 42%; !* ширина второго и третьего столбцов *!-->*/
/*<!--            text-align: center; !* выравнивание текста по центру *!-->*/
/*<!--        }-->*/

/*<!--        th, td {-->*/
/*<!--            text-align: center; !* выравнивание текста по центру *!-->*/
/*<!--        }-->*/

/*<!--        tr {-->*/
/*<!--            text-align: center;-->*/
/*<!--            vertical-align: middle;-->*/
/*<!--            border: 1px solid black;-->*/
/*<!--            border-collapse: collapse;-->*/
/*<!--            padding: 8px;-->*/
/*<!--        }-->*/

/*<!--        th {-->*/
/*<!--            text-align: center;-->*/
/*<!--            vertical-align: middle;-->*/
/*<!--            border: 1px solid black;-->*/
/*<!--            border-collapse: collapse;-->*/
/*<!--            padding: 8px;-->*/
/*<!--        }-->*/

/*<!--        td {-->*/
/*<!--            border: 1px solid black;-->*/
/*<!--            border-collapse: collapse;-->*/
/*<!--            padding: 8px;-->*/
/*<!--            text-align: center;-->*/
/*<!--            vertical-align: middle;-->*/
/*<!--        }--> */
    </style>

</head>
<body>

<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/specialist/start_menu_specialist}">Меню специалиста</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/enroll/enroll_page}">Запись клиента</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/calendar/admission_calendar_view}">Управление календарем</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/administration/proof_clients}">Управление оплатами</a>
    </li>
    <li class="nav-item">
        <form th:method="POST" th:action="@{/logout}">
            <input type="submit" class="btn btn-secondary" value="Выход">
        </form>
    </li>
</ul>

<header>
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-12">
                <h1 th:text="${name} + ', здесь ты можешь управлять календарем'">Привет, специалист</h1>
            </div>
        </div>
    </div>
</header>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<!--<h1 th:text="${name} + ', здесь ты можешь посмотреть свои сводобные даты и запланировать новые'">Привет, специалист</h1>-->
<!--<br>-->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center color1 mb-5">Клиент видит только установленные даты</h3>
            </div>
            <div class="alert alert-danger text-center" role="alert" th:if="${param.error != null}">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <span style="color:firebrick" th:text="${param.error}"></span>
            </div>
            <div class="col-12 text-center">
                <div class="itd_circle"><i class="fa-solid fa-calendar-check"></i></div>
                <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"
                        data-bs-target="#addAvailableTime">
                    <h6 class="text-center">Создать личное расписание</h6>
                </button>
                <div class="modal fade" id="addAvailableTime" tabindex="-1" aria-labelledby="addAvailableTimeLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-white">
                                <h5 class="modal-title" id="addAvailableTimeLabel">Установите диапазон свободных дат и времени приема</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:method="POST" th:action="@{/calendar/admission_calendar_update}" class="text-center">
                                    <div class="col-12">
                                        <label for="startDate">Дата и время начала доступного расписания:</label>
                                        <div class="d-flex justify-content-center">
                                            <input id="startDate" name="startDate" width="200" />
                                        </div>
                                        <script>
                                            $(document).ready(function() {
                                                $('#startDate').datetimepicker({
                                                    uiLibrary: 'bootstrap5',
                                                    modal: true,
                                                    footer: true,
                                                    locale: 'ru-ru'
                                                });
                                            });
                                        </script>
                                    </div>
                                    <div class="col-12">
                                        <label for="endDate">Дата и время конца доступного расписания:</label>
                                        <div class="d-flex justify-content-center">
                                            <input id="endDate" name="endDate" width="200" />
                                        </div>
                                        <script>
                                            $(document).ready(function() {
                                                $('#endDate').datetimepicker({
                                                    uiLibrary: 'bootstrap5',
                                                    modal: true,
                                                    footer: true,
                                                    locale: 'ru-ru'
                                                });
                                            });
                                        </script>
                                    </div>
                                    <div class="col-12">
                                        <label for="minInterval">Минимальный интервал между приемами:</label>
                                        <div class="d-flex justify-content-center">
                                            <input type="time" id="minInterval" name="minInterval">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Выберите выходные дни:</label>
                                        <div class="d-flex justify-content-center">
                                            <div>
                                                <input type="checkbox" name="weekDays" value="Понедельник"> Понедельник
                                                <input type="checkbox" name="weekDays" value="Вторник"> Вторник
                                                <input type="checkbox" name="weekDays" value="Среда"> Среда
                                                <input type="checkbox" name="weekDays" value="Четверг"> Четверг
                                                <input type="checkbox" name="weekDays" value="Пятница"> Пятница
                                                <input type="checkbox" name="weekDays" value="Суббота"> Суббота
                                                <input type="checkbox" name="weekDays" value="Воскресенье"> Воскресенье
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-info btn-enroll mt-3">Отправить</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12 text-center">
                <div class="itd_circle"><i class="fa-solid fa-square-xmark"></i></div>
                <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"
                        data-bs-target="#deleteDate">
                    <h6 class="text-center">Удалить дату</h6>
                </button>
                <div class="modal fade" id="deleteDate" tabindex="-1" aria-labelledby="deleteDateLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-white">
                                <h5 class="modal-title" id="deleteDateLabel">Выбери дату для удаления</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:method="POST" th:action="@{/calendar/dateFormDelete}">
                                    <label for="selectedDate">Выберите дату:</label>
                                    <input type="date" id="selectedDate" name="selectedDate" required>
                                    <button type="submit" class="btn btn-info btn-enroll" tabindex="-1" role="button">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
<!--            <div class="col-xl-4 col-md-6 col-sm-12 text-center">-->
<!--                <div class="itd_circle"><i class="fa-solid fa-delete-left"></i></div>-->
<!--                <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"-->
<!--                        data-bs-target="#deleteRageDate">-->
<!--                    <h6 class="text-center">Удалить диапазон дат</h6>-->
<!--                </button>-->
<!--                <div class="modal fade" id="deleteRageDate" tabindex="-1" aria-labelledby="deleteRageDateLabel"-->
<!--                     aria-hidden="true">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header bg-success text-white">-->
<!--                                <h5 class="modal-title" id="deleteRageDateLabel">Выбери диапазон дат для удаления</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                        aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <form th:method="POST" th:action="@{/calendar/dateRangeFormDelete}">-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="startDateRange">Начало:</label>-->
<!--                                        <input type="date" id="startDateRange" name="startDateRange">-->
<!--                                    </div>-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="endDateRange">Конец:</label>-->
<!--                                        <input type="date" id="endDateRange" name="endDateRange">-->
<!--                                    </div>-->
<!--                                    <button type="submit" class="btn btn-info btn-enroll" tabindex="-1" role="button">-->
<!--                                        Удалить-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="line"></div>-->
<!--            </div>-->
            <div class="col-xl-4 col-md-6 col-sm-12 text-center">
                <div class="itd_circle"><i class="fa-solid fa-person-circle-plus"></i></div>
                <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"
                        data-bs-target="#dateAddModal">
                    <h6 class="text-center">Добавить время доступное для приема</h6>
                </button>
                <div class="modal fade" id="dateAddModal" tabindex="-1" aria-labelledby="dateAddModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-white">
                                <h5 class="modal-title" id="dateAddModalLabel">Выбери время доступное для приема</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:method="POST" th:action="@{/calendar/addTimeAvailability}">
                                    <div class="col-12">
                                        <label for="dateAddTime">Дата:</label>
                                        <input type="date" id="dateAddTime" name="dateAddTime">
                                    </div>
                                    <div class="col-12">
                                        <label for="timeAvailability">Время:</label>
                                        <input type="time" id="timeAvailability" name="timeAvailability" value="">
                                    </div>
<!--                                    <div class="col-12">-->
<!--                                        <select class="form-select custom-select mx-auto"-->
<!--                                                aria-label="Default select example"-->
<!--                                                name="selectedOption" required>-->
<!--                                            <option selected value="">Выбрать статус</option>-->
<!--                                            <option value="AVAILABLE">Доступно</option>-->
<!--                                            <option value="RESERVED">Забронировано</option>-->
<!--                                            <option value="IN_QUESTION">Под вопросом</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
                                    <button type="submit" class="btn btn-info btn-enroll" tabindex="-1" role="button">
                                        Добавить
                                    </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
<!--            <div class="col-xl-4 col-md-6 col-sm-12 text-center">-->
<!--                <div class="itd_circle"><i class="fa-solid fa-address-book"></i></div>-->
<!--                <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"-->
<!--                        data-bs-target="#dateRageAddModal">-->
<!--                    <h6 class="text-center">Добавить диапазон времени для приема</h6>-->
<!--                </button>-->
<!--                <div class="modal fade" id="dateRageAddModal" tabindex="-1" aria-labelledby="dateRageAddModalLabel"-->
<!--                     aria-hidden="true">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header bg-success text-white">-->
<!--                                <h5 class="modal-title" id="dateRageAddModalLabel">Выбери диапазон времени доступного-->
<!--                                    для приема</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                        aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <form th:method="POST" th:action="@{/calendar/addRangeTimeAvailability}">-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="dateRangeAdd">Дата:</label>-->
<!--                                        <input type="date" id="dateRangeAdd" name="dateRangeAdd">-->
<!--                                    </div>-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="startAddTimeAdmission">Время:</label>-->
<!--                                        <input type="time" id="startAddTimeAdmission" name="startAddTimeAdmission"-->
<!--                                               value="">-->
<!--                                    </div>-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="endAddTimeAdmission">Время:</label>-->
<!--                                        <input type="time" id="endAddTimeAdmission" name="endAddTimeAdmission" value="">-->
<!--                                    </div>-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="minIntervalAdd">Минимальный интервал между приемами:</label>-->
<!--                                        <input type="time" id="minIntervalAdd" name="minIntervalAdd" value="01:00:00">-->
<!--                                    </div>-->
<!--                                    <div class="col-12">-->
<!--                                        <select class="form-select custom-select mx-auto"-->
<!--                                                aria-label="Default select example"-->
<!--                                                name="selectedOption" required>-->
<!--                                            <option selected value="">Выбрать статус</option>-->
<!--                                            <option value="AVAILABLE">Доступно</option>-->
<!--                                            <option value="RESERVED">Забронировано</option>-->
<!--                                            <option value="IN_QUESTION">Под вопросом</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <button type="submit" class="btn btn-info btn-enroll" tabindex="-1" role="button">-->
<!--                                        Добавить-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="line"></div>-->
<!--            </div>-->
            <div class="col-xl-4 col-md-6 col-sm-12 text-center">
                <div class="itd_circle"><i class="fa-solid fa-eraser"></i></div>
                <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"
                        data-bs-target="#deleteTime">
                    <h6 class="text-center">Удалить время доступное для приема</h6>
                </button>
                <div class="modal fade" id="deleteTime" tabindex="-1" aria-labelledby="deleteTimeLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-white">
                                <h5 class="modal-title" id="deleteTimeLabel">Выбери время для удаления</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:method="POST" th:action="@{/calendar/timeAdmissionFormDelete}">
                                    <div class="col-12">
                                        <label for="dateOne">Дата:</label>
                                        <input type="date" id="dateOne" name="dateOne">
                                    </div>
                                    <div class="col-12">
                                        <label for="selectedTimeAdmission">Время:</label>
                                        <input type="time" id="selectedTimeAdmission" name="selectedTimeAdmission"
                                               value="">
                                    </div>
                                    <button type="submit" class="btn btn-info btn-enroll" tabindex="-1" role="button">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
<!--            <div class="col-xl-4 col-md-6 col-sm-12 text-center">-->
<!--                <div class="itd_circle"><i class="fa-solid fa-house-lock"></i></div>-->
<!--                <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"-->
<!--                        data-bs-target="#deleteRangeTime">-->
<!--                    <h6 class="text-center">Удалить диапазон времени для приема</h6>-->
<!--                </button>-->
<!--                <div class="modal fade" id="deleteRangeTime" tabindex="-1" aria-labelledby="deleteRangeTimeLabel"-->
<!--                     aria-hidden="true">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header bg-success text-white">-->
<!--                                <h5 class="modal-title" id="deleteRangeTimeLabel">Выбери время для удаления (указать точное время, которе есть в календаре)</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                        aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <form th:method="POST" th:action="@{/calendar/timeAdmissionRangeFormDelete}">-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="dateRange">Дата:</label>-->
<!--                                        <input type="date" id="dateRange" name="dateRange">-->
<!--                                    </div>-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="startTimeAdmission">Время:</label>-->
<!--                                        <input type="time" id="startTimeAdmission" name="startTimeAdmission" value="">-->
<!--                                    </div>-->
<!--                                    <div class="col-12">-->
<!--                                        <label for="endTimeAdmission">Время:</label>-->
<!--                                        <input type="time" id="endTimeAdmission" name="endTimeAdmission" value="">-->
<!--                                    </div>-->
<!--                                    <button type="submit" class="btn btn-info btn-enroll" tabindex="-1" role="button">-->
<!--                                        Удалить-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="line"></div>-->
<!--            </div>-->
            <div class="col-xl-4 col-md-6 col-sm-12 text-center">
                <div class="itd_circle"><i class="fa-solid fa-trash"></i></div>
                <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"
                        data-bs-target="#selectedDateBefore">
                    <h6 class="text-center">Очистить даты из календаря</h6>
                </button>
                <div class="modal fade" id="selectedDateBefore" tabindex="-1" aria-labelledby="selectedDateBeforeLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-white">
                                <h5 class="modal-title" id="selectedDateBeforeLabel">Выбери дату, до которой нужно
                                    очистить календарь</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:method="POST" th:action="@{/calendar/dateBeforeClear}">
                                    <label for="selectedDateBeforeClear">Выберите дату:</label>
                                    <input type="date" id="selectedDateBeforeClear" name="selectedDateBeforeClear">
                                    <button type="submit" class="btn btn-info btn-enroll" tabindex="-1" role="button">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-3">
<!--            <div class="col-md-6">-->
<!--                <form method="get" action="/calendar/vacantSeats">-->
<!--                    <label for="size">Количество слотов для записи на странице:</label>-->
<!--                    <select id="size" name="size" onchange="this.form.submit()">-->
<!--                        <option value="10" th:selected="${size == 10}">10</option>-->
<!--                        <option value="20" th:selected="${size == 20}">20</option>-->
<!--                        <option value="50" th:selected="${size == 50}">50</option>-->
<!--                    </select>-->
<!--                </form>-->
<!--            </div>-->
        </div>
        <div class="table-responsive-sm custom-table">
            <table class="table table-secondary table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Дата</th>
                    <th scope="col">Время</th>
                    <th scope="col">Клиент</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vacantSeat : ${vacantSeats}">
                    <td hidden th:text="${vacantSeat.id}"></td>
                    <td class="col-dayOfWeek" th:text="${vacantSeat.dayOfWeek}"></td>
                    <td class="col-date" th:text="${vacantSeat.dateVacant}"></td>
                    <td class="col-time" th:text="${vacantSeat.timeVacant}"></td>
                    <td class="col-client">
                        <span th:if="${vacantSeat.clientId != null}"
                              th:text="${vacantSeat.clientId.getFullName}"></span>
                        <a th:if="${vacantSeat.clientId == null}" href="javascript:void(0)" class="delete-slot">Удалить
                            слот</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation" class="pagination-container">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${page.first} ? 'disabled'">
                        <a class="page-link" th:href="@{/calendar(page=${page.number - 1}, size=${param.size})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:classappend="${page.number == i} ? 'active'">
                        <a class="page-link" th:href="@{/calendar/vacantSeats(page=${i}, size=${param.size})}" th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${page.last} ? 'disabled'">
                        <a class="page-link" th:href="@{/calendar/vacantSeats(page=${page.number + 1}, size=${param.size})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</section>

<script th:inline="javascript">
    var csrfToken = document.querySelector('input[name="_csrf"]').value;

    $(document).ready(function(){
        // При нажатии на запись
        $('.delete-slot').click(function(){
            var row = $(this).closest('tr');
            var id = row.find('td:eq(0)').text(); // Получаем значение ID выбранной записи


            // Отправляем данные на контроллер для обработки
            var applicationFromSpecialist = {
                // specialistId: idSpecialist,
                id: id,
            }; // Ваши данные для отправки на контроллер
            // Здесь вы можете заполнить объект applicationFromVisitor необходимыми данными
            // Отправляем данные на сервер
            fetch("/calendar/removeVacantSlot", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': csrfToken // Добавляем CSRF токен в заголовок запроса
                    // Здесь могут быть другие заголовки, если необходимо
                },
                body: JSON.stringify(applicationFromSpecialist)
            }).then(response => {
                location.reload();
                // Обрабатываем ответ от сервера
            })
                .catch(error => {
                    // Обрабатываем ошибки при отправке запроса на сервер
                });
        });
    });
</script>

<!--<script th:inline="javascript">-->

<!--    var csrfToken = document.querySelector('input[name="_csrf"]').value;-->
<!--    var idSpecialist = JSON.parse(/*[[${idSpecialist}]]*/ '');-->

<!--    function createTable(data) {-->
<!--        var table = document.createElement('table');-->
<!--        table.className = "table";-->
<!--        var tableBody = document.createElement('tbody');-->

<!--        // Создаем строку заголовков-->
<!--        var tr = document.createElement('tr');-->

<!--        var th1 = document.createElement('th');-->
<!--        th1.textContent = data[0][0];-->
<!--        th1.colSpan = 1;-->
<!--        tr.appendChild(th1);-->

<!--        var th2 = document.createElement('th');-->
<!--        th2.textContent = data[0][1];-->
<!--        th2.colSpan = 2;-->
<!--        tr.appendChild(th2);-->

<!--        tableBody.appendChild(tr);-->

<!--        var tr = document.createElement('tr');-->
<!--        data[1].forEach(elem => {-->
<!--            let th = document.createElement('th');-->
<!--            th.textContent = elem;-->
<!--            tr.appendChild(th);-->
<!--        });-->
<!--        tableBody.appendChild(tr);-->

<!--        for (var i = 2; i < data.length; i++) {-->
<!--            tr = document.createElement('tr');-->
<!--            data[i].forEach((elem, index) => {-->
<!--                var ind = i;-->
<!--                var td = document.createElement('td');-->
<!--                // Проверяем, является ли текущий столбец третьим (индекс 2) и содержит ли ячейка текст "Доступно"-->
<!--                if (index === 2 && elem === "Доступно") {-->
<!--                    var link = document.createElement('a');-->
<!--                    link.textContent = elem;-->
<!--                    link.href = "/enroll/enroll_page"; // Установите ссылку на текущую страницу или другую подходящую для вашего случая-->
<!--                    // link.addEventListener('click', function (event) {-->
<!--                    //     event.preventDefault(); // Предотвращаем переход по ссылке по умолчанию-->
<!--                    //-->
<!--                    //     var applicationFromVisitor = {-->
<!--                    //         specialistId: idSpecialist,-->
<!--                    //         meetingDate: table.rows[0].cells[0].textContent,-->
<!--                    //         meetingTime: table.rows[ind].cells[index - 2].textContent-->
<!--                    //     }; // Ваши данные для отправки на контроллер-->
<!--                    //     // Здесь вы можете заполнить объект applicationFromVisitor необходимыми данными-->
<!--                    //-->
<!--                    //     // Отправляем данные на сервер-->
<!--                    //     fetch("/enroll/enroll_page", {-->
<!--                    //         method: 'POST',-->
<!--                    //         headers: {-->
<!--                    //             'Content-Type': 'application/json',-->
<!--                    //             'X-CSRF-Token': csrfToken // Добавляем CSRF токен в заголовок запроса-->
<!--                    //             // Здесь могут быть другие заголовки, если необходимо-->
<!--                    //         },-->
<!--                    //         body: JSON.stringify(applicationFromVisitor)-->
<!--                    //     })-->
<!--                    //         .then(response => {-->
<!--                    //             location.reload();-->
<!--                    //             // Обрабатываем ответ от сервера-->
<!--                    //         })-->
<!--                    //         .catch(error => {-->
<!--                    //             // Обрабатываем ошибки при отправке запроса на сервер-->
<!--                    //         });-->
<!--                    // });-->
<!--                    td.appendChild(link);-->
<!--                } else {-->
<!--                    // Если текст не "Доступно" или это не третий столбец, просто добавляем текст-->
<!--                    td.textContent = elem;-->
<!--                }-->
<!--                tr.appendChild(td);-->
<!--            });-->
<!--            tableBody.appendChild(tr);-->
<!--        }-->

<!--        table.appendChild(tableBody);-->
<!--        document.body.appendChild(table);-->
<!--    }-->

<!--    var data0 = JSON.parse(/*[[${day0}]]*/ '');-->
<!--    var data1 = JSON.parse(/*[[${day1}]]*/ '');-->
<!--    var data2 = JSON.parse(/*[[${day2}]]*/ '');-->
<!--    var data3 = JSON.parse(/*[[${day3}]]*/ '');-->
<!--    var data4 = JSON.parse(/*[[${day4}]]*/ '');-->
<!--    var data5 = JSON.parse(/*[[${day5}]]*/ '');-->
<!--    var data6 = JSON.parse(/*[[${day6}]]*/ '');-->
<!--    var data7 = JSON.parse(/*[[${day7}]]*/ '');-->
<!--    var data8 = JSON.parse(/*[[${day8}]]*/ '');-->
<!--    var data9 = JSON.parse(/*[[${day9}]]*/ '');-->
<!--    var data10 = JSON.parse(/*[[${day10}]]*/ '');-->
<!--    var data11 = JSON.parse(/*[[${day11}]]*/ '');-->
<!--    var data12 = JSON.parse(/*[[${day12}]]*/ '');-->
<!--    var data13 = JSON.parse(/*[[${day13}]]*/ '');-->
<!--    var data14 = JSON.parse(/*[[${day14}]]*/ '');-->
<!--    var data15 = JSON.parse(/*[[${day15}]]*/ '');-->
<!--    var data16 = JSON.parse(/*[[${day16}]]*/ '');-->
<!--    var data17 = JSON.parse(/*[[${day17}]]*/ '');-->
<!--    var data18 = JSON.parse(/*[[${day18}]]*/ '');-->
<!--    var data19 = JSON.parse(/*[[${day19}]]*/ '');-->
<!--    var data20 = JSON.parse(/*[[${day20}]]*/ '');-->

<!--    createTable(data0);-->
<!--    createTable(data1);-->
<!--    createTable(data2);-->
<!--    createTable(data3);-->
<!--    createTable(data4);-->
<!--    createTable(data5);-->
<!--    createTable(data6);-->
<!--    createTable(data7);-->
<!--    createTable(data8);-->
<!--    createTable(data9);-->
<!--    createTable(data10);-->
<!--    createTable(data11);-->
<!--    createTable(data12);-->
<!--    createTable(data13);-->
<!--    createTable(data14);-->
<!--    createTable(data15);-->
<!--    createTable(data16);-->
<!--    createTable(data17);-->
<!--    createTable(data18);-->
<!--    createTable(data19);-->
<!--    createTable(data20);-->
<!--</script>-->

<footer id="footer">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12 text-center text-white">
                <ul class="list-unstyled">
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

