<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список неоплаченных встреч</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/67a92a6cb5.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/t.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/fontello.css">
    <link rel="stylesheet" href="/css/style.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
</head>
<body>
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/specialist/start_menu_specialist}">Меню специалиста</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/enroll/enroll_page}">Запись клиента</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/calendar/admission_calendar_view}">Управление календарем</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/administration/proof_clients}">Управление оплатами</a>
    </li>
    <li class="nav-item">
        <form th:method="POST" th:action="@{/logout}">
            <input type="submit" class="btn btn-secondary" value="Выход">
        </form>
    </li>
</ul>

<header>
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-12">
                <h2 class="text-center text-white" th:text="${name} + ', здесь ты можешь увидеть список необходимых предоплат и подвердить оплату'">
                    Привет, специалист</h2>
            </div>
        </div>
    </div>
</header>

<section class="chooseclient">
    <div class="container">
        <div class="row">
            <div th:if="${#lists.size(visitDates) > 0}">
                <!--                    <a href="/administration/proof_clients">Полный список неоплаченных</a>-->
                <div class="alert alert-danger text-center" role="alert" th:each="date : ${visitDates}">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <span style="color: firebrick" th:text="'Внимание! Есть неоплаченная консультация на ' + ${date.toLocalDate()} + ' в ' + ${date.toLocalTime()}"></span>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="itd_circle"><i class="fa-brands fa-amazon-pay"></i></div>
                    <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"
                            data-bs-target="#listAssigned">
                        <h6 class="text-center">Подтверждение оплаты</h6>
                    </button>
                    <div class="modal fade" id="listAssigned" tabindex="-1" aria-labelledby="listAssignedLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-success text-white">
                                    <h5 class="modal-title" id="listAssignedLabel">Выбери клиента для подтверждения оплаты</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:method="POST" th:action="@{/administration/agreement}">
                                        <select class="form-select" aria-label="Select Client" name="agreementId" required>
                                            <option value="">Список клиентов</option>
                                            <option th:each="client : ${listName}"
                                                    th:value="${client.idAppointment}"
                                                    th:text="${'Консультация на ' + client.dateAppointment + ' в ' + client.timeAppointment + ' клиента ' + client.fullName}">
                                            </option>
                                        </select>
                                        <button type="submit" class="btn btn-info btn-enroll" tabindex="-1"
                                                role="button">Подтвердить оплату</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="itd_circle"><i class="fa-solid fa-comments-dollar"></i></div>
                    <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"
                            data-bs-target="#listUnregistered">
                        <h6 class="text-center">Уже оплаченные</h6>
                    </button>
                    <div class="modal fade" id="listUnregistered" tabindex="-1" aria-labelledby="listUnregisteredLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header bg-success text-white">
                                    <h5 class="modal-title" id="listUnregisteredLabel">Список оплаченных консультаций</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:method="POST" th:action="@{/administration/no_agreement}">
                                        <select class="form-select" size="10" aria-label="Select Client"
                                                name="agreementId" required>
                                            <option value="">Выбери консультацию необходимую к оплате</option>
                                            <option th:each="client : ${agreePay}"
                                                    th:value="${client.idAppointment}"
                                                    th:text="${'Консультация на ' + client.dateAppointment + ' в ' + client.timeAppointment + ' клиента ' + client.fullName}">
                                            </option>
                                        </select>
                                        <button type="submit" class="btn btn-info btn-enroll btn-sm" tabindex="-1"
                                                role="button">Необходимо оплатить!</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="itd_circle"><i class="fa-solid fa-person-circle-question"></i></div>
                    <button type="button" class="btn btn-primary btn-list" data-bs-toggle="modal"
                            data-bs-target="#listVisitorPay">
                        <h6 class="text-center">Клиент оплатил</h6>
                    </button>
                    <div class="modal fade" id="listVisitorPay" tabindex="-1" aria-labelledby="listVisitorPayLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header bg-success text-white">
                                    <h5 class="modal-title" id="listVisitorPayLabel">Список консультаций, которые клиент отметил как оплаченные</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:method="POST" th:action="@{/administration/agreement}">
                                        <select class="form-select" size="10" aria-label="Select Client"
                                                name="agreementId" required>
                                            <option value="">Выбери консультацию для подтверждения оплаты</option>
                                            <option th:each="appointment : ${maybePay}"
                                                    th:value="${appointment.idAppointment}"
                                                    th:text="${'Консультация на ' + appointment.dateAppointment + ' в ' + appointment.timeAppointment + ' клиента ' + appointment.fullName}">
                                            </option>
                                        </select>
                                        <button type="submit" class="btn btn-info btn-enroll btn-sm" tabindex="-1"
                                                role="button">Подтвердить оплату</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--<li class="nav-item">-->
<!--    <a class="nav-link active" aria-current="page" th:href="@{/enroll/enroll_page}">Запись клиента</a>-->
<!--</li>-->
<!--<table>-->
<!--    <thead>-->
<!--    <th>Посетитель</th>-->
<!--    <th>Дата записи</th>-->
<!--    <th>Профессиональные услуги</th>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="appointment : ${appointmentsList}">-->
<!--        <td th:text="${appointment.visitor_appointments.getFullName()}"></td>-->
<!--        <td th:text="${appointment.appointmentTime}"></td>-->
<!--        <td th:text="${appointment.professionalServices}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>