:root {
    --color1: #7799FF;
    --color2: #CB916F;
    --color3: #FFAA00;
    --color4: #F1F1F1;
    --color5: #E6E6E6;
    --color7: #CB916F;
    --color8: #CB916F;
    --color9: #CB916F;
    --color10: #CB916F;
}

header, section, footer {
    padding: 50px 0;
}

/*header {*/
/*    padding: 200px 0;*/
/*}*/

header, footer {
    background: linear-gradient(to right, var(--color1),var(--color2));
}

/*Основной цвет: #7799FF*/
/*Первый дополнительный цвет: #00BBFF*/
/*Второй дополнительный цвет: #FFAA00*/
/*Третий дополнительный цвет: #FFF500*/
/**  Нежный: #F1F1F1 (15% красного, 15% зелёного, 100% синего)*/
/**  Цветная: #FF9900 (100% красного, 99% зелёного, 0% синего)*/
/**  Приглушённая: #E6E6E6 (100% красного, 100% зелёного, 100% синего)*/
/**  Яркая: #FF0033 (100% красного, 0% зелёного, 33% синего)*/