:root {
    --color1: #7792ef;
    --color2: #CB916F;
    --color3: #037ab2;
    --color4: #F1F1F1;
    --color5: #e7ef7a;
    --color6: #198754;
    --color7: #f67522;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color1);
}

a:hover {
    color: var(--color3);
}

header {
    padding: 25px 0;
}

section, button {
    padding: 3px 0;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    font-weight: 500;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: var(--color3);
}

header, footer {
    background: linear-gradient(to right, var(--color1),var(--color2));
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
    color: #fff;
}

.btn-info {
    max-width: 200px;
    right: 0;
    left: auto;
    color: var(--bs-white);
    background-color: var(--color3);
}
.btn-info:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}

.btn-enroll {
    /*max-width: 200px;*/
    /*right: 0;*/
    /*left: auto;*/
    color: var(--bs-white);
    background-color: var(--color6);
}
.btn-enroll:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}

.btn-list {
    /*max-width: 200px;*/
    /*right: 0;*/
    /*left: auto;*/
    color: var(--bs-white);
    background-color: var(--color3);
}
.btn-list:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}

/* управление календарем */
.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color3);
}
.bg1 {
    background-color: var(--color1);
}
.bg2 {
    background-color: var(--color3);
}

.about {
    background-color: #eee;
}
.about i {
    font-size: 25px;
    color: var(--color7);
}
.itd_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color3);
    margin: 15px auto 30px;
}
