<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Development</title>
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 class="display-1">Эта страница и функционал еще в разработке! Спасибо за понимание</h1>

<footer id="footer">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12 text-center text-white">
                <ul class="list-unstyled">
                    <a href="https://t.me/cod_cat"> <i>Telegram-канал разработчика</i> <i
                            class="fa-brands fa-telegram"></i></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>