<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все доступные даты специалиста</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/67a92a6cb5.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/img/t.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <style>

        table {
            width: 100%;
            table-layout: fixed;
        }

        th:first-child, td:first-child {
            width: 16%; /* ширина первого столбца */
        }

        th, td {
            width: 42%; /* ширина второго и третьего столбцов */
            text-align: center; /* выравнивание текста по центру */
        }

        th, td {
            text-align: center; /* выравнивание текста по центру */
        }

        tr {
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }

        th {
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }

        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
            text-align: center;
            vertical-align: middle;
        }

    </style>
</head>
<body>
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/development}">Мой профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/visitors/my_specialist_menu}">Меню специалиста</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/development}">История посещений</a>
    </li>
    <li class="nav-item">
        <form th:method="POST" th:action="@{/logout}">
            <input type="submit" class="btn btn-secondary" value="Выход">
        </form>
    </li>
</ul>

<header>
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-12">
                <h3 th:text="${nameClient} + ', здесь ты видишь рассписание до 20-и ближайших доступных для записи дат. Если отображается меньше, то это все запланированные ближайшие даты специалиста.'"></h3>
            </div>
        </div>
    </div>
</header>

<script th:inline="javascript">

    var csrfToken = document.querySelector('input[name="_csrf"]').value;
    var idSpecialist = JSON.parse(/*[[${idSpecialist}]]*/ '');

    function createTable(data) {
        var table = document.createElement('table');
        table.className = "table";
        var tableBody = document.createElement('tbody');

        // Создаем строку заголовков
        var tr = document.createElement('tr');

        var th1 = document.createElement('th');
        th1.textContent = data[0][0];
        th1.colSpan = 1;
        tr.appendChild(th1);

        var th2 = document.createElement('th');
        th2.textContent = data[0][1];
        th2.colSpan = 2;
        tr.appendChild(th2);

        tableBody.appendChild(tr);

        var tr = document.createElement('tr');
        data[1].forEach(elem => {
            let th = document.createElement('th');
            th.textContent = elem;
            tr.appendChild(th);
        });
        tableBody.appendChild(tr);

        for (var i = 2; i < data.length; i++) {
            tr = document.createElement('tr');
            data[i].forEach((elem, index) => {
                var ind = i;
                var td = document.createElement('td');
                // Проверяем, является ли текущий столбец третьим (индекс 2) и содержит ли ячейка текст "Доступно"
                if (index === 2 && elem === "Доступно") {
                    var link = document.createElement('a');
                    link.textContent = elem;
                    link.href = "#"; // Установите ссылку на текущую страницу или другую подходящую для вашего случая
                    link.addEventListener('click', function (event) {
                        event.preventDefault(); // Предотвращаем переход по ссылке по умолчанию

                        var applicationFromVisitor = {
                            specialistId: idSpecialist,
                            meetingDate: table.rows[0].cells[0].textContent,
                            meetingTime: table.rows[ind].cells[index - 2].textContent
                        }; // Ваши данные для отправки на контроллер
                        // Здесь вы можете заполнить объект applicationFromVisitor необходимыми данными

                        // Отправляем данные на сервер
                        fetch("/visitors/appointment_booking_table", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRF-Token': csrfToken // Добавляем CSRF токен в заголовок запроса
                                // Здесь могут быть другие заголовки, если необходимо
                            },
                            body: JSON.stringify(applicationFromVisitor)
                        })
                            .then(response => {
                                location.reload();
                                // Обрабатываем ответ от сервера
                            })
                            .catch(error => {
                                // Обрабатываем ошибки при отправке запроса на сервер
                            });
                    });
                    td.appendChild(link);
                } else {
                    // Если текст не "Доступно" или это не третий столбец, просто добавляем текст
                    td.textContent = elem;
                }
                tr.appendChild(td);
            });
            tableBody.appendChild(tr);
        }

        table.appendChild(tableBody);
        document.body.appendChild(table);
    }

    var data0 = JSON.parse(/*[[${day0}]]*/ '');
    var data1 = JSON.parse(/*[[${day1}]]*/ '');
    var data2 = JSON.parse(/*[[${day2}]]*/ '');
    var data3 = JSON.parse(/*[[${day3}]]*/ '');
    var data4 = JSON.parse(/*[[${day4}]]*/ '');
    var data5 = JSON.parse(/*[[${day5}]]*/ '');
    var data6 = JSON.parse(/*[[${day6}]]*/ '');
    var data7 = JSON.parse(/*[[${day7}]]*/ '');
    var data8 = JSON.parse(/*[[${day8}]]*/ '');
    var data9 = JSON.parse(/*[[${day9}]]*/ '');
    var data10 = JSON.parse(/*[[${day10}]]*/ '');
    var data11 = JSON.parse(/*[[${day11}]]*/ '');
    var data12 = JSON.parse(/*[[${day12}]]*/ '');
    var data13 = JSON.parse(/*[[${day13}]]*/ '');
    var data14 = JSON.parse(/*[[${day14}]]*/ '');
    var data15 = JSON.parse(/*[[${day15}]]*/ '');
    var data16 = JSON.parse(/*[[${day16}]]*/ '');
    var data17 = JSON.parse(/*[[${day17}]]*/ '');
    var data18 = JSON.parse(/*[[${day18}]]*/ '');
    var data19 = JSON.parse(/*[[${day19}]]*/ '');
    var data20 = JSON.parse(/*[[${day20}]]*/ '');

    createTable(data0);
    createTable(data1);
    createTable(data2);
    createTable(data3);
    createTable(data4);
    createTable(data5);
    createTable(data6);
    createTable(data7);
    createTable(data8);
    createTable(data9);
    createTable(data10);
    createTable(data11);
    createTable(data12);
    createTable(data13);
    createTable(data14);
    createTable(data15);
    createTable(data16);
    createTable(data17);
    createTable(data18);
    createTable(data19);
    createTable(data20);
</script>

</body>
</html>