<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Specialist menu for User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <style>
        .action-item {
            display: flex;
            align-items: center;
        }
        .action-item button {
            margin-left: 50px;
        }
        .red-text {
            color: red;
        }
    </style>

</head>
<body>
<h1 th:text="'Меню по выбранному специалисту - ' + ${specialist}">Меню по специалисту</h1>

<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->




<!--<div class="action-item" style="line-height:3">-->
<!--    <span>Закрепиться за специалистом</span>-->
<!--&lt;!&ndash;    <button type="button" class="btn btn-info" onclick="window.location.href='/visitors/assigned_specialist'">Перейти</button>&ndash;&gt;-->
<!--    <a th:href="@{'/visitors/assigned_specialist/' + ${selectedSpecialistId}}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true">Перейти</a><br><br>-->
<!--</div>-->

<!--<div class="container px-4">-->
<!--    <div class="row gx-5">-->
<!--        <div class="col">-->
<!--            <div class="p-3 border bg-light">-->
<!--                <tr>-->
<!--                    <td th:text="${assignedToSpecialist != null} ? 'Закреплен за специалистом - Да' : 'Закреплен за специалистом - Нет'">Выбери клиента для записи</td>-->
<!--                </tr>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="container">
    <div class="row align-items-start">
        <div class="col" style="line-height:3">
            <span>Закрепиться за специалистом</span>
            <a th:href="@{'/visitors/assigned_specialist/' + ${selectedSpecialistId}}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true">Перейти</a>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <tr>
                    <td th:text="${assignedToSpecialist != null} ? 'Закреплен за специалистом - Да' : 'Закреплен за специалистом - Нет'">Закреплен за специалистом</td>
                </tr>
            </div>
        </div>
    </div>
</div>







<div class="action-item" style="line-height:3">
    <span>Отправить письмо специалисту</span>
    <button type="button" class="btn btn-info" onclick="window.location.href='/development'">Перейти</button>
</div>
<div class="action-item" style="line-height:3">
    <span>Установить напоминание</span>
    <button type="button" class="btn btn-info" onclick="window.location.href='/development'">Перейти</button>
</div><br>

<!--<td><a th:href="@{'/visitors/specialist_choose/' + ${specialist.id}}" th:text="${specialist.username}"></a></td>-->

<u>Выберете время, на которое хотите записаться</u>
<form th:method="POST" th:action="@{/visitors/appointment_booking}">
    <input type="hidden" th:name="selectedSpecialistId" th:value="${selectedSpecialistId}" />
    <label for="meeting">Выберите дату и время для встречи:</label>
    <input type="datetime-local" id="meeting" name="meeting">
    <input type="submit" value="Записаться">
</form> <br>

<u>Выберете время отмены Вашей записи</u>
<form th:method="POST" th:action="@{/visitors/cancelling_booking}">
    <input type="hidden" th:name="selectedSpecialistId" th:value="${selectedSpecialistId}" />
    <label for="meeting">Выберите дату и время отмены записи:</label>
    <input type="datetime-local" id="meetingCancel" name="meetingCancel">
    <input type="submit" value="Отменить">
</form>
<td class="red-text" th:text="${notAvailable != null} ? ${notAvailable} : ''">Нет доступа</td>

<br>
<u>Даты время доступные для записи</u>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dateEntry : ${dates}">
            <td th:text="${dateEntry.key}"></td>
            <td>
                <div th:each="timeEntry : ${dateEntry.value}">
                    <span th:text="${timeEntry.key}"></span><br>
                </div>
            </td>
            <td>
                <div th:each="statusEntry : ${dateEntry.value}">
                    <span th:text="${statusEntry.value}"></span><br>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('table').DataTable({
            paging: true,
            pageLength: 5,
            language: {
                "lengthMenu": "Показать _MENU_ записей",
                "search": "Найти:",
                "info": "Отображение от _START_ до _END_ из _TOTAL_ элементов",
                "paginate": {
                    "previous": "Предыдущий",
                    "next": "Следующий"
                },
            },
            "lengthMenu": [
                [3, 5, 10, -1],
                [3, 5, 10, 'Все']
            ]
        });
    });
</script>

</body>
</html>